head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
body
    div.flex.px-20.justify-around.h-14.items-center(class="")
      a.font-bold.text-2xl.relative(href="/" class="") Members #[span.text-white.text-fuchsia-500 Only] #[span(class="after:content-[''] absolute h-px w-full left-0 -bottom-2 bg-fuchsia-500")]
      nav.flex.gap-5.items-center
        if user
          div.h-10.w-full.flex.items-center.gap-2.mr-5
            img.h-full(src=user.img alt=user.image)
            p.text-lg #{user.fullName}
          a.text-center.whitespace-nowrap(href="/logout" class="hover:bg-fuchsia-300 transition p-2 rounded-lg text-lg") Log Out
        else
          a(href="/login" class="hover:bg-fuchsia-300 transition p-2 rounded-lg text-lg") Log In
          a(href="/signup" class="hover:bg-fuchsia-300 transition p-2 rounded-lg text-lg") Sign Up
    block content

