extends layout 

block content 
    div.flex.w-full.justify-center.items-center
        form(action="" method="post" class="w-[500px] h-[600px] flex flex-col items-center justify-center") 
            div.w-full.flex.flex-col
                p.border-b-2.border-fuchsia-200.text-center.font-bold.mb-6 To become a member you need to write down a number in the field!
                label.p-1.mb-3(for="number") Write 10 digits of the decimal representation of &pi;, starting with the digit in the #[span.font-bold #{numberFrom}]-th position and continuing 9 more digits after that. #[br] You need to write down 10 digits.
                input.p-2.rounded-md.bg-slate-100(type="text" name="number" id="number" placeholder=`Write 10 numbers` class="focus:outline-none focus:ring-fuchsia-500 focus:ring-1 transition hover:shadow-[0px_0px_3px_rgba(217,70,239,0.9)]")
                input(type="hidden" name="numberFrom" value=numberFrom)
                if errors 
                        div.bg-red-300.p-5.rounded-lg.mt-5
                            ul.flex.flex-col.gap-y-2 
                                for error in errors 
                                        li #{error.msg}
                input.py-3.px-14.bg-fuchsia-200.self-center.text-xl.rounded-lg.mt-8(type="submit" value="Send answer" class="hover:bg-fuchsia-400 transition hover:scale-[1.02]")